@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?p23n2d');
  src:  url('../fonts/icomoon.eot?p23n2d#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p23n2d') format('truetype'),
    url('../fonts/icomoon.woff?p23n2d') format('woff'),
    url('../fonts/icomoon.svg?p23n2d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-globus_icon:before {
  content: "\e900";
}
.icon-dataverse_icon:before {
  content: "\e901";
}
.icon-synapse_icon:before {
  content: "\e902";
}
