{% extends 'base.html' %} {% block container %}

<div class="card h-100" style="max-width: 25rem; min-height: 1em;" id="job_123">
  <div class="card-body">
    DeepDell -> DV.Christmas Elf Heights
    <div class="progress">
      <div
        class="progress-bar bg-info"
        id="pb_123"
        role="progressbar"
        aria-valuenow="70"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 55%;"
      >
        55%
      </div>
    </div>
    <small><p id="msg_123">Sent job to Globus</p></small>
  </div>
</div>

{% endblock %}
