<!-- Dev -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!-- Prod -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

<!-- <html>  
    <body>  
       <form action = "http://localhost:5000/upload" method = "post">  
          <table>  
         <tr><td>Name</td>  
         <td><input type ="text" name ="uname"></td></tr>  
         <tr><td>Password</td>  
         <td><input type ="password" name ="pass"></td></tr>  
         <tr><td><input type = "submit"></td></tr>  
     </table>  
       </form>  
    </body>  
 </html>   -->

<html>
   <body>
      <div id="app" v-cloak @drop.prevent="addFile" @dragover.prevent>
         <h2>Files to Upload (Drag them over)</h2>
         <ul>
            <li v-for="file in files">
               {{ file.name }} {{ file.lastModified }} ({{ file.size | kb }} kb) <button @click="removeFile(file)" title="Remove">X</button>
            </li>
         </ul>
         
         <button :disabled="uploadDisabled" @click="upload">Upload</button>
      </div>
   </body>
</html>

<script>
Vue.config.productionTip = false;
Vue.config.devtools = false;

Vue.filter('kb', val => {
  return Math.floor(val/1024);  
});

const app = new Vue({
  el:'#app', 
  data: {
    files:[]
  },
  computed: {
    uploadDisabled() {
      return this.files.length === 0;
    }
  },
  methods:{
    addFile(e) {
      let droppedFiles = e.dataTransfer.files;
      if(!droppedFiles) return;
      // this tip, convert FileList to array, credit: https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
      ([...droppedFiles]).forEach(f => {
        this.files.push(f);
      });
    },
    removeFile(file){
      this.files = this.files.filter(f => {
        return f != file;
      });      
    },
    upload() {
      
      let formData = new FormData();
      this.files.forEach((f,x) => {
        formData.append('fileName'+(x+1), f.name);
        formData.append('fileLastModified'+(x+1),f.lastModified);
        formData.append('fileSize'+(x+1), f.size);
      });
      
      fetch('http://localhost:5000/upload', {
        method:'POST',
        body: formData
      })
      .then(res => res.json())
      .then(res => {
         console.log('done uploading', res);
      })
      .catch(e => {
        console.error(JSON.stringify(e.message));
      });
      
    }
  }
})
</script>