<!-- Dev -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

<!-- Prod -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

<!-- <html>  
    <body>  
       <form action = "http://localhost:5000/upload" method = "post">  
          <table>  
         <tr><td>Name</td>  
         <td><input type ="text" name ="uname"></td></tr>  
         <tr><td>Password</td>  
         <td><input type ="password" name ="pass"></td></tr>  
         <tr><td><input type = "submit"></td></tr>  
     </table>  
       </form>  
    </body>  
 </html>   -->

{% extends 'base.html' %}
{% block container %}
      <div>
        Using Globus ID %%guser%% <a href="globus_logout">Change</a>
      </div>

      <div>
        Using Dataverse Key %%dvkey%% <a href="setdvkey">Change</a>
      </div>

     

      <div>
        <h2>1. Choose Globus Source Endpoint of files:</h2> 
        <select id="endpoints">
          {% for key,value in endpoints.items() %}
            <option {% if mruEndpointID == key %} selected='selected' {% endif %} value='%%key%%'>%%value["display_name"]%%</option>
          {% endfor %}
        </select>
      </div>

      <div>
        <h2>2. Pick Lab:</h2>
        <select  id="lab_type">
          {% for key,value in labs.items() %}
            <option {% if mruLab == value.id_num() %} selected='selected' {% endif %} value='%%value.id_num()%%'>%%value.display_name()%%</option>
          {% endfor %}
        </select>
      </div>

      <div>
        <h2>3. Upload data to this dataset:</h2>
        <select  id="dataset_id">
          {% for rec in datasets %}
            <option {% if mruDataset == rec['entity_id'] %} selected='selected' {% endif %} value='%%rec['entity_id']%%'>%%rec['name']%%</option>
          {% endfor %}
        </select>
      </div>

      <div>
        <h2>4. (Optional) Please enter a search-able description to apply to each file:</h2>
        <textarea id="description" rows="5", cols="60">
          Enter details here...
        </textarea><br>
        Note: If you have selected a lab in step 2, Information found in the directory / file name of each file will be automatically added to the description.
      </div>

      <div>
        <h2>5. (Optional) Please enter any relevant keywords (separated by commas) to apply to each file:</h2>
        <input type="text" id="tags"/>
      </div>

      <div id="dropzone" effectAllowed="move">
        <h2>Drop files / folders here, <br> 
          or here <br>
          or here!
        </h2>
      </div>
      <!-- <input type="button" onclick="uploadFiles()" value="Upload"/> -->
      <ul id="items" hidden></ul>
      <h2><ul id="lbl_status"></ul><ul id="target_div">%%status_update%%</ul></h2>
      <input type="button" onclick="uploadFiles()" value="Upload"/>
   
<script>


// var targetContainer = document.getElementById("target_div");
//       var eventSource = new EventSource("/stream")
//         eventSource.onmessage = function(e) {
//         targetContainer.innerHTML = e.data;
//       };


// Drop handler function to get all files
async function getAllFileEntries(dataTransferItemList) {
  //console.debug("inside get all files.");
  let fileEntries = [];
  // Use BFS to traverse entire directory/file structure
  let queue = [];
  // Unfortunately dataTransferItemList is not iterable i.e. no forEach
  for (let i = 0; i < dataTransferItemList.length; i++)
  {
     let fo = dataTransferItemList[i].getAsFile();
     //console.debug(fo.size);
     queue.push(dataTransferItemList[i].webkitGetAsEntry());
    //queue.push(dataTransferItemList[i]);
  }
  
  let filesToProcess = 0

  while (queue.length > 0) {
    //console.debug('Queue Length: '+queue.length);
    //let dti = queue.shift();
    //let entry = dti.webkitGetAsEntry();
    let entry = queue.shift();
    //console.debug('queue shift');
    if (entry.isFile)
    {
      //let fileobj = dti.getAsFile();
      //let fileobj = null;
      //console.debug('right before entry.file.');
      filesToProcess +=1;
      entry.file(function(fileobj)
      {
          //fileobj = f;
          var data_we_want = {"name":fileobj.name, "mru":fileobj.lastModified, "size":fileobj.size,"path":entry.fullPath}
          //console.debug(data_we_want);
          fileEntries.push(data_we_want);
          filesToProcess -= 1;
      },function(){console.debug('err');filesToProcess -=1;});
      
      //fileEntries.push(entry);
    }
    else if (entry.isDirectory)
    {
      //console.debug('found dir.')
      let reader = entry.createReader();
      queue.push(...await readAllDirectoryEntries(reader));
    }
  }
  //We need to wait for all the callbacks to complete.
  while (filesToProcess > 0) {await new Promise(r => setTimeout(r,500));}
  //console.debug('End of getAllFileEntries length: '+fileEntries.length);
  return fileEntries;
}

// Get all the entries (files or sub-directories) in a directory by calling readEntries until it returns empty array
async function readAllDirectoryEntries(directoryReader) {
  let entries = [];
  let readEntries = await readEntriesPromise(directoryReader);
  while (readEntries.length > 0) {
    entries.push(...readEntries);
    readEntries = await readEntriesPromise(directoryReader);
  }
  return entries;
}

// Wrap readEntries in a promise to make working with readEntries easier
async function readEntriesPromise(directoryReader) {
  try {
    return await new Promise((resolve, reject) => {
      directoryReader.readEntries(resolve, reject);
    });
  } catch (err) {
    console.log(err);
  }
}

var elDrop = document.getElementById('dropzone');
var elItems = document.getElementById('items');
var elStatus = document.getElementById('lbl_status');

elDrop.addEventListener('dragover', function (event) {
    event.preventDefault();
    elItems.innerHTML = 0;
});

elDrop.addEventListener('drop', async function (event) {
    event.preventDefault();
    console.debug(event);
    let files_found = await getAllFileEntries(event.dataTransfer.items);
    console.debug('found '+files_found.length+'...');
    elStatus.innerHTML = 'Found '+files_found.length+' items.';
    elItems.innerHTML = JSON.stringify(files_found);
});

function uploadFiles()
{
      let formData = new FormData();
      formData.append('file_list',elItems.innerHTML);
      formData.append('lab_type',document.getElementById("lab_type").value)
      formData.append('selected_endpoint',document.getElementById("endpoints").value)
      formData.append('dataset_id',document.getElementById("dataset_id").value);
      formData.append('description',document.getElementById("description").value);
      formData.append('tags',document.getElementById("tags").value);
      fetch('http://localhost:5000/upload', {
        method:'POST',
        body: formData
      })
      .then(res => res.json())
      .then(res => {
         console.log('done uploading', res);
      })
      .catch(e => {
        console.error(JSON.stringify(e.message));
      });
}
</script>

{% endblock %}